---
import { SITE_NAME, SITE_URL, SITE_EMAIL } from '../../consts';
import Layout from '../../layouts/Basic.astro';

---
<meta name="robots" content="noindex, follow">

<Layout title="Politica de privacidad" description="Informacion sobre la politica de privacidad"  heroImage="/politica-de-privacidad.webp">
    <p>En <strong>{SITE_NAME}</strong>, accesible desde <strong>{SITE_URL}</strong>, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Esta Política de Privacidad documenta los tipos de información que recopilamos y cómo la utilizamos.</p>

    <h2>Información que recopilamos</h2>
    <p>Cuando visitas nuestro sitio web, podemos recopilar varios tipos de información personal, incluidos, entre otros:</p>
    <ul>
        <li>Información de contacto, como nombre y dirección de correo electrónico (si decides proporcionarla a través de formularios).</li>
        <li>Datos técnicos, como dirección IP, tipo de navegador, páginas vistas y el tiempo que pasas en nuestro sitio web.</li>
    </ul>

    <h2>Google AdSense</h2>
    <p>Este sitio web utiliza Google AdSense para mostrar anuncios. Google AdSense puede recopilar cookies y utilizar balizas web para recopilar información sobre tu visita a este sitio web con el fin de mostrarte anuncios relevantes. Google utiliza cookies de DART para mostrar anuncios basados en tus visitas anteriores a este y otros sitios web.</p>

    <p>Si deseas obtener más información sobre el uso de cookies de Google y cómo desactivarlas, puedes visitar la <a href="https://policies.google.com/technologies/ads" target="_blank">política de privacidad de Google Ads</a>.</p>

    <h2>Cookies y balizas web</h2>
    <p>Al igual que otros sitios web, <strong>{SITE_NAME}</strong> utiliza 'cookies'. Estas cookies se utilizan para almacenar información, incluidas tus preferencias personales y las páginas que has visitado. Esta información se utiliza para mejorar tu experiencia en el sitio, personalizar el contenido y mostrar anuncios relevantes.</p>

    <h2>Uso de tu información</h2>
    <p>La información que recopilamos se utiliza para los siguientes fines:</p>
    <ul>
        <li>Mejorar nuestro sitio web y ofrecer una experiencia personalizada.</li>
        <li>Mostrar anuncios relevantes a través de nuestra colaboración con Google AdSense.</li>
        <li>Responder a tus consultas o brindarte asistencia si lo solicitas.</li>
    </ul>

    <h2>Enlaces a sitios de terceros</h2>
    <p>Nuestro sitio web puede contener enlaces a otros sitios web. Ten en cuenta que no somos responsables de las políticas de privacidad o el contenido de dichos sitios. Te recomendamos leer las políticas de privacidad de esos sitios antes de proporcionar cualquier información personal.</p>

    <h2>Consentimiento</h2>
    <p>Al utilizar nuestro sitio web, aceptas nuestra Política de Privacidad y consientes la recopilación y el uso de tu información según lo descrito en este documento.</p>

    <h2>Cambios en esta Política de Privacidad</h2>
    <p>Nos reservamos el derecho de actualizar o modificar esta Política de Privacidad en cualquier momento. Te recomendamos que revises esta página periódicamente para estar al tanto de cualquier cambio. El uso continuado de nuestro sitio después de la publicación de los cambios se considerará como tu aceptación de los mismos.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre esta Política de Privacidad, no dudes en contactarnos a través de <strong>{SITE_EMAIL}</strong>.</p>

</Layout>

